/* This code is reused and unmodified from the source available at https://bl.ocks.org/pkerpedjiev/f2e6ebb2532dae603de13f0606563f5b under the GNU license */

#d3_selectable_force_directed_graph svg {
    border: 1px solid;
    font: 13px sans-serif;
    text-anchor: end;
}

#d3_selectable_force_directed_graph .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}
